<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionstrings>
    <add name="ConnectionString1"
       connectionString="Data Source= itsyahmi\localdb; Integrated Security=true;Initial Catalog= CRUDExample; " providerName="System.Data.SqlClient">
    </add>
  </connectionstrings>
</configuration>